In [47]:
import numpy as np
import pandas as pd

ROOT = 'C:\\Users\\timjo\\PycharmProjects\\newscript'

# GNM

In [29]:
gnm = pd.read_pickle(ROOT + "\\processed_data\\gnm.pkl")
gnm.head()

,date,text,origin,author,country
0,2017-10-10,An Ethiopian foreign national was arrested in ...,ridgetimes.co.za,Sifiso Mathebula,ET
1,2018-11-28,Daniel Placek seemed to have everything going ...,www.thebatavian.com,NaN,US
28,2020-04-02,The 2019 Ministerial Declaration of the Commis...,www.unodc.org,NaN,AU
29,2017-07-20,Bill’s world was a dangerous one. He believed ...,blogs.scientificamerican.com,Kunmi Sobowale About The Author S M.D. Is A Ch...,NaN
31,2019-11-05,"By Martin Petty\nMANILA, Nov 5 (Reuters) - Phi...",news.trust.org,Thomson Reuters Foundation,RP

### Date

In [30]:
print(f"Number of unique dates: {len(set(gnm['date']))}")
missing_dates = None
missing_dates_perc = None
print(f"Earliest date: {min(gnm['date'])}")
print(f"Most recent date: {max(gnm['date'])}")
print(f"Type of column: {gnm.date.dtypes}")

Number of unique dates: 1140
Earliest date: 2017-01-01 00:00:00
Most recent date: 2021-06-07 00:00:00
Type of column: datetime64[ns]

### Text

In [31]:
print(f"Number of unique articles: {len(set(gnm.text))}")
perc_miss = round(100 * gnm.text.isna().sum() / gnm.shape[0])
print(f"Number of missing values: {perc_miss}%")
print(f"Data type: {type(gnm.author.iloc[0])}")

Number of unique articles: 169552
Number of missing values: 0%
Data type: <class 'str'>

### Author

In [32]:
print(f"Number of unique authors: {len(gnm.groupby(['author']).size())}")
perc_miss = round(100 * gnm.author.isna().sum() / gnm.shape[0])
print(f"Percentage of missing values: {perc_miss}%")
print(f"Data type: {type(gnm['author'].iloc[0])}")

Number of unique authors: 23477
Percentage of missing values: 74%
Data type: <class 'str'>

### Domain

In [33]:
print(f"Number of unique domains: {len(gnm.groupby(['origin']).size())}")
perc_miss = round(100 * gnm.origin.isna().sum() / gnm.shape[0])
print(f"Percentage of missing values: {perc_miss}%")
print(f"Data type: {type(gnm['origin'].iloc[0])}")

Number of unique domains: 10595
Percentage of missing values: 0%
Data type: <class 'str'>

### Country

In [34]:
print(f"Number of unique countries: {len(gnm.groupby(['country']).size())}")
perc_miss = round(100 * gnm.country.isna().sum() / gnm.shape[0])
print(f"Percentage of missing values: {perc_miss}%")
print(f"Data type: {type(gnm['country'].iloc[0])}")

Number of unique countries: 231
Percentage of missing values: 6%
Data type: <class 'str'>

# MUC

In [71]:
muc = pd.read_csv(ROOT + "\\processed_data\\muc.csv", index_col=0)
muc.head()

,muc_id,location,date,text
0,DEV-MUC3-0001,SAN SALVADOR,1990-01-03,The Arce Battalion command has reported that a...
1,DEV-MUC3-0002,SAN SALVADOR,1990-01-04,According to statements made by a Salvadoran o...
2,DEV-MUC3-0003,SANTIAGO,1990-01-05,The government junta yesterday approved a draf...
3,DEV-MUC3-0004,CLANDESTINE,1990-01-08,"Goodbye general Rafael Bustillo, false hope fo..."
4,DEV-MUC3-0005,CLANDESTINE,1990-01-08,A war bulletin indicates that on 6 January at ...

### Location

In [72]:
print(f"Number of unique locations: {len(muc.groupby(['location']).size())}")
perc_miss = round(100 * muc.location.isna().sum() / muc.shape[0])
print(f"Percentage of missing values: {perc_miss}%")
print(f"Data type: {type(muc['location'].iloc[0])}")

Number of unique locations: 87
Percentage of missing values: 0%
Data type: <class 'str'>

### Date

In [73]:
print(f"Number of unique dates: {len(muc.groupby(['date']).size())}")
perc_miss = round(100 * muc.date.isna().sum() / muc.shape[0])
print(f"Percentage of missing values: {perc_miss}%")
print(f"Data type: {type(muc['date'].iloc[0])}")

Number of unique dates: 466
Percentage of missing values: 6%
Data type: <class 'str'>

### Text

In [74]:
print(f"Number of unique texts: {len(muc.groupby(['text']).size())}")
perc_miss = round(100 * muc.text.isna().sum() / muc.shape[0])
print(f"Percentage of missing values: {perc_miss}%")
print(f"Data type: {type(muc['text'].iloc[0])}")

Number of unique texts: 1698
Percentage of missing values: 0%
Data type: <class 'str'>