In [9]:
import general
import pandas as pd

In [13]:
columns = ['date', 'article_domain', 'gdelt_ActionGeo_CountryCode', 'article_author', 'article_contentRaw']
data_raw = general.load_drugs_data(data_path='data/database_dump_drugs', cols = columns)

Loaded 50000 articles from the 100 out of 1572 json files.
Loaded 100000 articles from the 200 out of 1572 json files.
Loaded 150000 articles from the 300 out of 1572 json files.
Loaded 200000 articles from the 400 out of 1572 json files.
Loaded 250000 articles from the 500 out of 1572 json files.
Loaded 300000 articles from the 600 out of 1572 json files.
Loaded 350000 articles from the 700 out of 1572 json files.
Loaded 400000 articles from the 800 out of 1572 json files.
Loaded 450000 articles from the 900 out of 1572 json files.
Loaded 500000 articles from the 1000 out of 1572 json files.
Loaded 550000 articles from the 1100 out of 1572 json files.
Loaded 600000 articles from the 1200 out of 1572 json files.
Loaded 650000 articles from the 1300 out of 1572 json files.
Loaded 700000 articles from the 1400 out of 1572 json files.
Loaded 750000 articles from the 1500 out of 1572 json files.
Loaded 776569 articles.

In [17]:
df = pd.DataFrame(data_raw, columns = columns)
df

,date,article_domain,gdelt_ActionGeo_CountryCode,article_author,article_contentRaw
0,20171010051500,ridgetimes.co.za,ET,Sifiso Mathebula,An Ethiopian foreign national was arrested in ...
1,20181128060000,www.thebatavian.com,US,[],Daniel Placek seemed to have everything going ...
2,20181128060000,www.thebatavian.com,US,[],Daniel Placek seemed to have everything going ...
3,20181128060000,www.thebatavian.com,US,[],Daniel Placek seemed to have everything going ...
4,20181128060000,www.thebatavian.com,US,[],Daniel Placek seemed to have everything going ...
...,...,...,...,...,...
776564,20180524000000,reliefweb.int,CH,[],SC/13351\nSecurity Council\n8266th Meeting (PM...
776565,20180524000000,reliefweb.int,CH,[],SC/13351\nSecurity Council\n8266th Meeting (PM...
776566,20180524000000,reliefweb.int,CH,[],SC/13351\nSecurity Council\n8266th Meeting (PM...
776567,20180524000000,reliefweb.int,CH,[],SC/13351\nSecurity Council\n8266th Meeting (PM...
776568,20180524000000,reliefweb.int,EK,[],SC/13351\nSecurity Council\n8266th Meeting (PM...

In [16]:
df.describe()

,date,article_domain,gdelt_ActionGeo_CountryCode,article_author,article_contentRaw
count,776569,776569,776569,776569,770578
unique,43064,11231,238,59576,178006
top,20180401011500,www.dailymail.co.uk,US,[],"The New York Times\nFor months, Rosanne Boylan..."
freq,328,22019,292101,177833,530